part1\courseinfo\node_modules
part1\unicafe\node_modules
part2\courseinfo\node_modulespart2\countries\src\.env
part4\node_modules
part4\package-lock.json
part4\.env
part3\phonebook\buildpart4\.eslintrc.js
part4\.eslintrc.js
part4\.env
.\part4\.envpart4/.env
part4/.env
part4/node_modules
part5/node_modules
.\part5\bloglist-frontend\.vscode\
part5/bloglist-frontend/.vscode/
part5/bloglist-frontend/cypress/videos
part6/node_modules
