hr{
  width: 30%;
  border: none;
  border-bottom: 5px black dotted;
}

.blog-card{
  background-color: rgba(255,255,255,0.6);
  border: 2px #081c15 solid;
  border-radius: 16px;
  text-align: center;
  margin: 1em;
}

.show-info-btn, .hide-info-btn, .like-btn{
  text-decoration: underline;  
  cursor: pointer;
  color: blue;
}

.hide-info-btn{
  color:red;
}